.box{
  /* border: 2px solid black; */
  border-radius: 1.5rem;
  background-color: #eaeaad;
}
.inputbox{
  border-radius: 0.5rem;
}
.btn{
  background-color: #cece24;
}
.heading
{
  background-color: #eaeaad;
}
.curve1{
  border-top-left-radius: 0.5rem;
}
.curve2{
  border-top-right-radius: 0.5rem;
}




